#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c {
	text-align: center;
}#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li > a {
			
			font-size: 16px;
		}
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 10px;
			box-shadow: none;
		}
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 10px;
			box-shadow: none;
		}
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.selected,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.childselected,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.selected:hover,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.childselected:hover,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.selected > a,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.childselected > a,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.selected:hover > a,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.childselected:hover > a,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li:hover > a {
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 10px;
			box-shadow: none;
		}
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul li.selected,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul li.childselected,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul li.selected:hover,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul li.childselected:hover,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul li.selected > a,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul li.childselected > a,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul li.selected:hover > a,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul li.childselected:hover > a,
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul li:hover > a {
			padding: 6px 10px 7px 10px;
		}

		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c > li.normal > a { color: #FFFFFF;}
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c > li.normal > a { background-color: transparent; } #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c > li.normal > a { background-image: none; }
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.selected > a, #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.childselected > a { color: #FFFFFF; }
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.selected > a, #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.childselected > a { background-color: #6d6d6d; }
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul > li.normal > a { color: #FFFFFF; }#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul > li.normal > a { background-image: none; }
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul > li.normal > a { background-color: #6d6d6d; }
		
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.normal:hover > a { color: #FFFFFF; }
		#navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.normal:hover > a { background-color: #6d6d6d; } #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.selected > a, #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.childselected > a, #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.normal:hover > a { background-image: none; }.mobile-view #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.selected > a,
		.mobile-view #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.childselected > a { color: #FFFFFF; }.mobile-view #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.selected > a,
		.mobile-view #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li.childselected > a { background-color: transparent; }.mobile-view #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li:hover > a { color: #FFFFFF; }.mobile-view #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c li:hover > a { background-color: transparent; }.mobile-view #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul > li > a { color: #FFFFFF; }.mobile-view #navigation-b9d066d8-6a3d-4d48-8983-c5ac7245d50c ul > li > a { background-color: transparent; }