#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 {
	text-align: center;
}#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li > a {
			font-size: 14px;
		}
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li {
			margin: 0 2px;
		}
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 10px 15px 10px 15px;
		}
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul li {
			margin: 0 2px;
		}
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 10px 15px 10px 15px;
		}
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.selected,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.childselected,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.selected:hover,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.childselected:hover,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li:hover {
			margin: 0 2px;
		}
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.selected > a,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.childselected > a,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.selected:hover > a,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.childselected:hover > a,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li:hover > a {
			padding: 10px 15px 10px 15px;
		}
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul li.selected,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul li.childselected,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul li.selected:hover,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul li.childselected:hover,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul li:hover {
			margin: 0 2px;
		}
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul li.selected > a,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul li.childselected > a,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul li.selected:hover > a,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul li.childselected:hover > a,
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul li:hover > a {
			padding: 10px 15px 10px 15px;
		}

		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 > li.normal > a { color: #FFFFFF;}
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 > li.normal > a { background-color: transparent; } #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 > li.normal > a { background-image: none; }
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.selected > a, #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.childselected > a { color: #000000; }
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.selected > a, #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.childselected > a { background-color: #f5c53d }
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul > li.normal > a { color: #000000; }#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul > li.normal > a { background-image: none; }
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul > li.normal > a { background-color: #f5c53d }
		
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.normal:hover > a { color: #000000; }
		#navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.normal:hover > a { background-color: #f5c53d } #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.selected > a, #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.childselected > a, #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.normal:hover > a { background-image: none; }.mobile-view #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.selected > a,
		/* .mobile-view #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.childselected > a { color: #000000; }.mobile-view #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.selected > a,
		.mobile-view #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li.childselected > a { background-color: transparent; }.mobile-view #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li:hover > a { color: #000000; }.mobile-view #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 li:hover > a { background-color: transparent; }.mobile-view #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul > li > a { color: #FFFFFF; }.mobile-view #navigation-9c35a77b-2d74-0997-fe2e-1041699e5c61 ul > li > a { background-color: transparent; } */